---
layout: default
---

<!-- about.html -->
      <div class="post">
        <header class="post-header">
          <h1 class="post-title">
           {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
          </h1>
          <p class="desc">{{ page.subtitle }}</p>
        </header>

        <article>
          {% if page.profile -%}
          <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if page.profile.image %}
              {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

              {% if page.profile.image_circular %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
              {% else %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
              {% endif %}

              {% include figure.html 
              path=profile_image_path 
              class=profile_image_class
              alt=page.profile.image -%}
            {% endif -%}
            {%- if page.profile.address %}
            <div class="address">
              {{ page.profile.address }}
            </div>
            {%- endif %}
          </div>
          {%- endif %}

          <div class="clearfix">
            {{ content }}
          </div>

          {% if page.news -%}
          <!-- News -->
          {%- include news.html %}
          {%- endif %}
          {% if page.selected_papers -%}
            <!-- Selected papers -->
            {%- include selected_papers.html %}
          {%- endif %}
        
          {%- if page.social %}
          <!-- Social -->
          <div class="social">
            <div class="contact-icons">
            {% include social.html %}
            </div>  
                
            <div class="contact-note">
            {{ site.contact_note }}
            </div>
                
          </div>
          {%- endif %}
              
          <div class="logo">
          <br><br><br><br><br><br>
            <p> 
                  <a href="https://www.harvard.edu/" target="_blank">
                        <img src="./assets/img/harvard.png" height="90px" style="margin-bottom:-3px; margin-right:5px">
                  </a>
                  <a href="https://www.mit.edu/" target="_blank">
                        <img src="./assets/img/MIT.png" height="85px" style="margin-bottom:-3px; margin-right:5px">
                  </a>
                  <a href="https://www.stanford.edu/" target="_blank">
                        <img src="./assets/img/S.png" height="90px" style="margin-bottom:-3px; margin-right:5px">
                  </a>
                  <a href="https://www.lmu.de/en/" target="_blank">
                        <img src="./assets/img/LMU.jpeg" height="90px" style="margin-bottom:-3px; margin-right:5px">
                  </a>
                  <a href="https://www.tum.de/en/" target="_blank">
                        <img src="./assets/img/TUM.jpg" height="85px" style="margin-bottom:-3px; margin-right:5px">
                  </a>
                  <a href="https://ir.baidu.com/" target="_blank">
                        <img src="./assets/img/baidu.png" height="90px" style="margin-bottom:-3px; margin-right:5px">
                  </a>
                  <a href="https://www.tsinghua.edu.cn/en/" target="_blank">
                        <img src="./assets/img/tsinghua.png" height="90px" style="margin-bottom:-3px">
                  </a>
            </p>
          </div>
     
        </article>

</div>
