---
---

<!-- _layouts/bib.html -->
      <div class="row">
        <div class="col-sm-2 {% if entry.preview %}preview{% else %}abbr{% endif %}">
        {%- if entry.preview -%}
          {% if entry.preview contains '://' -%}
          <img class="preview z-depth-1 rounded" src="{{ entry.preview }}">
          {%- else -%}
          <img class="preview z-depth-1 rounded" src="{{ entry.preview | prepend: '/assets/img/publication_preview/' | relative_url }}">
          {%- endif -%}
        {%- elsif entry.abbr -%}
          {%- if site.data.venues[entry.abbr] -%}
            {%- assign venue_style = nil -%}
            {%- if site.data.venues[entry.abbr].color != blank -%}
              {%- assign venue_style = site.data.venues[entry.abbr].color | prepend: 'style="background-color:' | append: '"' -%}
            {%- endif -%}
            <abbr class="badge" {% if venue_style %}{{venue_style}}{% endif %}><a href="{{site.data.venues[entry.abbr].url}}">{{entry.abbr}}</a></abbr>
          {%- else -%}
            <abbr class="badge">{{entry.abbr}}</abbr>
          {%- endif -%}
        {%- endif -%}
        </div>

        <!-- Entry bib key -->
        <div id="{{entry.key}}" class="col-sm-8">
        {% if entry.type == "thesis" -%}
          {{reference}}
        {%- else %}
          <!-- Venue badge, award and links -->
          <div class="pub-kicker">
            {%- if entry.venue %}
            <span class="venue">
              {%- if entry.venue contains 'ACL' or entry.venue contains 'EMNLP' -%}
              <img class="venue-logo" src="{{ '/assets/img/icons/acl.png' | relative_url }}" alt="">
              {%- elsif entry.venue contains 'NeurIPS' -%}
              <img class="venue-logo" src="{{ '/assets/img/icons/neurips.png' | relative_url }}" alt="">
              {%- elsif entry.venue contains 'AAAI' -%}
              <img class="venue-logo" src="{{ '/assets/img/icons/aaai.png' | relative_url }}" alt="">
              {%- endif -%}
              {{ entry.venue }}
            </span>
            {%- endif %}
            {%- if entry.award %}
            <span class="award"><i class="fas fa-award"></i> {{entry.award}}</span>
            {%- endif %}
            {%- if entry.arxiv -%}
              {%- assign cites = site.data.citations.counts[entry.arxiv] -%}
              {%- if cites -%}
                {%- if cites >= site.citation_min %}
            <span class="pub-cites">#Cites: {{ cites }}</span>
                {%- endif -%}
              {%- endif -%}
            {%- endif %}
            <div class="links">
              {%- if entry.arxiv %}
              <a href="http://arxiv.org/abs/{{ entry.arxiv }}" class="pub-logo" title="arXiv" role="button"><img src="{{ '/assets/img/icons/arxiv.png' | relative_url }}" alt="arXiv"></a>
              {%- endif %}
              {%- if entry.code %}
              <a href="{{ entry.code }}" class="pub-logo" title="Code" role="button"><i class="fab fa-github"></i></a>
              {%- endif %}
              {%- if entry.html %}
              <a href="{{ entry.html }}" class="pub-logo" title="Project page" role="button"><i class="fas fa-globe"></i></a>
              {%- endif %}
              {%- if entry.website %}
              <a href="{{ entry.website }}" class="pub-logo" title="Website" role="button"><i class="fas fa-globe"></i></a>
              {%- endif %}
              {%- if entry.pdf %}
              <a href="{% if entry.pdf contains '://' %}{{ entry.pdf }}{% else %}{{ entry.pdf | prepend: '/assets/pdf/' | relative_url }}{% endif %}" class="pub-logo" title="PDF" role="button"><i class="fas fa-file-pdf"></i></a>
              {%- endif %}
              {%- if entry.slides %}
              <a href="{% if entry.slides contains '://' %}{{ entry.slides }}{% else %}{{ entry.slides | prepend: '/assets/pdf/' | relative_url }}{% endif %}" class="pub-logo" title="Slides" role="button"><i class="fas fa-desktop"></i></a>
              {%- endif %}
              {%- if entry.poster %}
              <a href="{% if entry.poster contains '://' %}{{ entry.poster }}{% else %}{{ entry.poster | prepend: '/assets/pdf/' | relative_url }}{% endif %}" class="pub-logo" title="Poster" role="button"><i class="fas fa-image"></i></a>
              {%- endif %}
              {%- if entry.demo %}
              <a href="{{ entry.demo }}" class="pub-logo" title="Demo" role="button"><i class="fas fa-play-circle"></i></a>
              {%- endif %}
              {%- if entry.blog %}
              <a href="{{ entry.blog }}" class="pub-logo" title="Blog" role="button"><i class="fas fa-rss"></i></a>
              {%- endif %}
            </div>
          </div>

          <!-- Title -->
          <div class="title">{{entry.title}}</div>
          <!-- Author -->
          <div class="author">
          {% assign author_array_size = entry.author_array | size %}

          {% assign author_array_limit = author_array_size %}
          {%- if site.max_author_limit and author_array_size > site.max_author_limit %}
            {% assign author_array_limit = site.max_author_limit %}
          {% endif %}

          {%- for author in entry.author_array limit: author_array_limit -%}
            {%- assign author_is_self = false -%}
            {%- assign author_last_name = author.last | remove: "¶" | remove: "&" | remove: "*" | remove: "†" | remove: "^" -%}
            {%- if site.scholar.last_name contains author_last_name -%}
              {%- if site.scholar.first_name contains author.first -%}
                {%- assign author_is_self = true -%}
              {%- endif -%}
            {%- endif -%}
            {%- assign coauthor_url = nil -%}
            {%- if site.data.coauthors[author_last_name] -%}
              {%- for coauthor in site.data.coauthors[author_last_name] -%}
                {%- if coauthor.firstname contains author.first -%}
                  {%- assign coauthor_url = coauthor.url -%}
                  {%- break -%}
                {%- endif -%}
              {%- endfor -%}
            {%- endif -%}
            
            {%- if forloop.length > 1 -%}
              {%- if forloop.first == false -%},&nbsp;{%- endif -%}
              {%- if forloop.last and author_array_limit == author_array_size -%}and&nbsp;{%- endif -%}
            {%- endif -%}
            {%- if author_is_self -%}
              <em class="author-self">{{author.first}} {{author.last}}</em>
            {%- else -%}
              {%- if coauthor_url -%}
                <a href="{{coauthor_url}}">{{author.first}} {{author.last}}</a>
              {%- else -%}
                {{author.first}} {{author.last}}
              {%- endif -%}
            {%- endif -%}
          {%- endfor -%}
          {%- assign more_authors = author_array_size | minus: author_array_limit -%}
          
          {%- assign more_authors_hide = more_authors | append: " more author" -%}
          {%- if more_authors > 0 -%}
            {%- if more_authors > 1 -%}
              {%- assign more_authors_hide = more_authors_hide | append: "s" -%}
            {%- endif -%}
            {%- assign more_authors_show = '' -%}
            {%- for author in entry.author_array offset: author_array_limit -%}
              {%- assign more_authors_show = more_authors_show | append: author.first | append: " " | append: author.last -%}
              {%- unless forloop.last -%}
                {%- assign more_authors_show = more_authors_show | append: ", " -%}
              {%- endunless -%}
            {%- endfor -%}
            , and
            <span
                class="more-authors"
                title="click to view {{more_authors_hide}}"
                onclick="
                  var element = $(this);
                  element.attr('title', '');
                  var more_authors_text = element.text() == '{{more_authors_hide}}' ? '{{more_authors_show}}' : '{{more_authors_hide}}';
                  var cursorPosition = 0;
                  var textAdder = setInterval(function(){
                    element.text(more_authors_text.substring(0, cursorPosition + 1));
                    if (++cursorPosition == more_authors_text.length){
                      clearInterval(textAdder);
                    }
                }, '{{site.more_authors_animation_delay}}');
                "
            >{{more_authors_hide}}</span>
          {%- endif -%}

          </div>

          <!-- {% if entry.keywords %}
            <span class="tags-container"> 
                {% assign keywords = entry.keywords | split: ',' %}
                {% for keyword in keywords %}
                      <span class="tag"># {{ keyword | strip }}</span>
                {% endfor %}
            </span>
          {% endif %} -->
        {%- endif %}
        


        </div>
      </div>
